* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    box-shadow: 0px 5px 10px rgba(28, 28, 28, 0.1);
    border-top: 10px solid #5866b5;
}

.header img{
    max-width: 7%;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    box-shadow: 0px 5px 10px rgba(28, 28, 28, 0.1);
}

.banner img{
    max-width:100%;
    z-index: -1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:50px;
    box-shadow: 0px 5px 10px rgba(28, 28, 28, 0.1);
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 100%;
}

.slideshow-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.mySlides {
    min-width: 100%;
    box-sizing: border-box;
}

.mySlides img {
    width: 100%;
    display: block;
}

.slide-button {
    border: none;
    color: #000000;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
 
    left: 0px;
}

.next {
    right: 0px;
}

h1{
    margin-top: 50px;
    font-size: 64px;
    letter-spacing: 20px;
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap:20px;
    padding:50px;
    box-shadow: 0px 5px 10px rgba(28, 28, 28, 0.1);
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.goods {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:50px;
    box-shadow: 0px 5px 10px rgba(28, 28, 28, 0.1);
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 200px;
    margin: 0 50px;
    text-align: center;
    color: #333;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .carousel-btn {
    border: none;
    color: #000000;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .prev-btn {
    left: 0px;
  }
  
  .next-btn {
    right: 0px;
  }

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:200px;
    padding: 50px;
    background-color: #383838;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
  }
  
  .image-text-group {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap:20px;
  }
  
  .image-text {
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .image-text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  
  .image-text img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .right-img img {
    width: 200px;
    height: auto;
  }

  
