** {
    padding:0;
    margin:0;
}
header {
    background-color:rgba(255, 255, 255, 0.8);
    height:80px;
    width:100%;
    position:fixed;     
}
.logo {
    width: 300px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px; 
    margin-top: 4px;/* Adjust the left margin to create space between the logo and other content */
    display: flex;
    align-items: center; /* Vertically align the image and other content */
}

header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header li {
    display:inline;
    margin-right:4vw;    
}
header a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
    color: rgb(204, 136, 35);
}
.about-link img {
    margin-right: 10px; /* 在 img 右边添加 10px 的外边距 */
}

.news {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    height:95vh;
    background-image: url("pic/cf5.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
} 
.news h2 {
    font-size:60px;
    margin-top:60px;
} 
.news p {
    color:#cca13d;
    font-size:18px;
    margin:25px 0;
}
.news a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid #000000;
    padding:10px 20px;
    border-radius: 5px;
}
.slogan {
    background-color:#485652;
    color:white;
    height:400px;
    background-image: url("pic/cf1.jpg");
    background-repeat: no-repeat;
    width: auto;
    background-position: center;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    line-height: 1.8em;  
    border: 1px solid rgb(255, 255, 255);
}
.shop {
    display:flex;
    background-image: url("pic/cf2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.info {
    width:50%;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.info h2 {
    font-size:20px;
    margin-bottom: 30px;
}
.info p {
    text-align: center;
    line-height: 2em;
}
.product {
    display:flex;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
    border: 1px solid white;
}
.product div {
    width:300px;
    text-align:center;
}
.product img {
    width:100%;
    border-radius: 10px;;
}
.product h3 {
    font-size: 24px;    
    margin: 20px 0;
}
.product p {
    font-size:16px;
    line-height: 1.6em;
}
.newsletter {
    background-color: #0e4a0747;
    display: flex;
    justify-content: space-between; /* 使表单和联系信息平行排列 */
    border: 1px solid rgb(255, 255, 255);
    /* 其他 Newsletter 样式属性 */
}
.newsletter-form {
    margin-left: 100px;
    margin-top: 50px;
}
.contact-info{
    margin-left: 300px;
    flex: 1; 
}

.newsletter-form button:hover {
    cursor: pointer; /* 让鼠标悬停时显示手型光标 */
}
.newsletter-form h2{
    text-align:left; /* 标题居中 */
}
.contact-info h2 {
    text-align:left;
}

.newsletter-form form {
    text-align: left; /* 表单内元素居中 */
}

.newsletter-form input{
    width: 300px;
    height: 25px;
    display: inline-block; 
    margin: 10px auto;
}

.newsletter-form button {
    width: 50px;
    height: 30px;
    display: inline-block; 
    margin: 10px auto; 
}

.contact-info p {
    text-align: left;
}

.contact-info ul {
    list-style: none; /* 去除列表样式 */
    padding: 0;
}

.contact-info li {
    margin: 5px 0; /* 调整列表项之间的间距 */
}

input::placeholder {
    color:#ffffff;
}
input:focus {
    outline: none; 
    border-color:#ffffff; 
}
footer {
    background-color:#a7a7a7;
    color:#ffffff;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid white;
    
}

.menu {
    display:none;
}
#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px; /* 使用半个高度值作为圆角半径，实现椭圆形状 */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

    
    /* 響應式設計語法 */
    @media screen and (max-width: 768px) {
    body{
           background-color: #fff;
        }
        header{
            height: 50px;
        }
    header ul {
        display:none;
    }
    header h1 {
        left:50%;
        transform: translateX(-50%);
    }
    .logo{
       margin-left: 40%;
       margin-top: 7%;
        width: 100px; /* Adjust the width of the logo */
    height: auto;
    }
    .slogan {
        height:60px;
        font-size: 8px;
        background-size: 140%;
        background-repeat: no-repeat;
     }
    .news h2 {
        font-size:22px;
    }
    .news p{
        font-size: 12px;
    }
 
    .shop {
        background-size:cover;
        flex-direction: column;
    }
    .shop img {
        width:100%;
    }

    .info {
        width: 100%;
        background-image: url("pic/cf2.jpg");
        background-size: 140%;
        background-repeat: no-repeat;
        padding:40px 0;
        
    }
    .info h2 {
        font-size:17px;
        color: rgb(204, 136, 35);
    }
    .info p{
        font-size: 8.5px;
        color: rgb(232, 196, 143);
    }
    .product {
        flex-direction: column;
        padding: 60px 0;
    }
    .product img {
        width:80%;
        border-radius: 10px;;
        align-items: center;
    }
    .product div {
        margin-bottom: 30px;
    }
    .newsletter{
        background-color: rgb(188,205,186);
        display: flex;
        flex-direction: column;
    }
    .newsletter-form {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 10px;
    }

    .contact-info {
        margin-left: 10px;
        font-size: 9.5px;
    }
    .newsletter-form button {
        width: 30px;
        height: 15px;
        display: inline-block; 
        margin: 10px auto; 
        font-size: 7px;
    }
    .newsletter-form input{
        width: 120px;
        height: 9px;
        display: inline-block; 
        margin: 10px auto;
    }
    .newsletter-form h2{
        text-align:left; /* 标题居中 */
        font-size: 10px;
    }

    footer{
    font-size: 7px;
    height:15px;
    }

    #scrollToTopButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 20px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 20px; /* 使用半个高度值作为圆角半径，实现椭圆形状 */
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px;
      }

      .menu {
        display:block;
        background-color: transparent;
        color:rgb(0, 0, 0);
        font-size: 20px;
        position:absolute;
        top:13px;
        left:5px;
        border:none;
        cursor: pointer;
    }
    
}
